body{
  background-color: #FFD099;
  margin: 0;
  display: grid;
  place-items: center;
}

body div:first-child{
  justify-content: center;
  align-items: center;
}

header{
  background-color: #2B3499;
  padding: 10px;
  margin-top: 0;
  display: grid; 
  grid-template-rows: 2fr;
  grid-template-columns: 3fr;
  grid-row: 1/-1;

  border-radius: 4px;
  flex-wrap: wrap;
  width: 100%;
  z-index: 10;

}

.mierda{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center; 
    align-items: center;
}

.mierda a{
  text-decoration: none;

}

nav a{
  border-radius: 4px;
  font-size: 30px;
  font-weight: 600;
  font-family: "oswald";
  transition: 2s;
  padding: 8px 16px

}


.active1{
  color: #FF6C22;
  position: relative;
  flex-wrap: wrap;
}
a:hover{
  text-shadow: -2px -2px 4px #fff;
  cursor: pointer;

}


.active{
  background-color: #2b34999d;
  
  border: 5px solid #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Aquí 3 es el número de columnas y 1fr indica que deben tener el mismo ancho */
  gap: 7px;
  /* grid-template-rows: repeat(3,minmax(100px,1fr)); */
  grid-template-rows: 1.5fr 1fr 1fr 1fr 0.5fr;
  min-height: 100vh;
  grid-template-areas: 
  " active3 active3 active3"
  "email mail ."
  "name nombre . "
  "text text text"
  " . boton . "

  ;
  justify-content: space-between;
  text-align: center;
  
}

.active h2:first-child{
  width: 100%;
  grid-area: active3;
}

.active label{
  width: 100%;
  grid-area: name;
}

.active input:first-child{
  grid-area: nombre;
}

.active label:nth-child(2){
  grid-area: email;
}

.active input:nth-child(2){
  grid-area: mail;
}

.active textarea{
  width: 100%;
  grid-area: text;
}

.active input:nth-child(3){
  grid-area: boton;
}

.dotted{
  grid-area: boton;
}

.active2{
  
  display: flex;
  position: relative;
  justify-content: center;
  max-height: 100px;
  max-width: 175%;

}

.text{
  display: flex;
  box-sizing: border-box;
  text-align: justify;
  width: 100%;
  color: #fff;
  flex-wrap: wrap;
}

.dotted:hover{
  cursor: pointer;
}

li{
  color: #2B3499;
  padding: 5px;
  list-style: url(/index/favicon.ico.png);

}

.foot4{
  color: #2B3499;
  border-style: solid;
  border-width: 1px ;
  margin: 10px;
  width: 100%;
  justify-items: center;
  text-align: center;
}

.foot3{
  color: #2B3499;
  border-style: solid;
  border-width: 1px ;
  margin: 10px;
}

p{
  color: #fff;
  font-family: "oswald";
}
*{
  font-family: "oswald";
}

h2{
  color: #fff;
  width: 100%;
  font-size: 40px;
}

.active3{
  margin-top: 1rem;
  color: #fff;
  font-family: "oswald";
  font-size: 3rem;
}
.type1{
  background-color: #FF6C22;
}

input[type="submit"]{
  width: 100%;
  background-color: #FF6C22;
  color: white;
  padding: 15px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: #FF6C22;
}

input[type="text"],
input[type="email"],
select,
textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 10px;
    box-sizing: border-box;
}

footer{
  background-color: #ff6c2259;
}

.experiencia .rox div{
  height: 259px;
  
}

.foot3{
  font-size: 15px;
}

.foot{
  color: #2B3499;
}

.foot::before{
  content: url(/index/icons8-instagram-48.png);
}

.foot2::before{
  content: url(/index/icons8-whatsapp-48.png);
}

.foot2{
  color: #2B3499;
}

.responsive{
  display: none;
}

i{
  padding: 0 5px;
}

@media (max-width: 600px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(3, 1fr);
  }
  .footer .content1{
    grid-column: 1/ -1;
  }
  .footer .content2{
    grid-column: 2/-5;
  }
  .foorer .content3{
    grid-column: 3/-4;
  }
}



@media (max-width:600px){
  .responsive{
      display: block;
      float: right;
      padding: 12px;
  }
  a{
      display: none;
  }
}

.name{
  height: 20px;
}

footer{
  width: 100%;
}

.swc-menu__badges>li.half .ps-creditcard {
    max-height: 45px;
    width: 100%;

}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
    box-sizing: border-box;
}

li{
    list-style: none;
}


