body{
  background-color: #FFD099;
  margin: 0;
  display: grid;
  place-items: center;
}

body div:first-child{
  justify-content: center;
  align-items: center;
}

header{
  background-color: #2B3499;
  padding: 10px;
  height: 60px;
  margin-top: 0;
  display: grid; 
  grid-template-rows: 2fr;
  grid-template-columns: 3fr;
  grid-row: 1/-1;

  border-radius: 4px;
  flex-wrap: wrap;
  width: 100%;
  z-index: 10;

}

.mierda{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    justify-content: center; 
    align-items: center;
}


.mierda a{
  text-decoration: none;

}

a{
  border-radius: 4px;
  font-size: 30px;
  font-weight: 600;
  transition: 2s;
  padding: 8px 16px
  
}


.active1{
  color: #FF6C22;
  position: relative;
  flex-wrap: wrap;
}
a:hover{
  text-shadow: -2px -2px 4px #fff;
  cursor: pointer;

}


.active{
  background-color: #2b34999d;
  
  border: 5px solid #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Aquí 3 es el número de columnas y 1fr indica que deben tener el mismo ancho */
  gap: 7px;
  /* grid-template-rows: repeat(3,minmax(100px,1fr)); */
  grid-template-rows: 1.5fr 1fr 1fr 1fr 0.5fr;
  min-height: 100vh;
  grid-template-areas: 
  " active3 active3 active3"
  "email mail ."
  "name nombre . "
  "text text text"
  " . boton . "

  ;
  justify-content: space-between;
  text-align: center;
  
}

.active h2:first-child{
  width: 100%;
  grid-area: active3;
}

.active label{
  width: 100%;
  grid-area: name;
}

.active input:first-child{
  grid-area: nombre;
}

.active label:nth-child(2){
  grid-area: email;
}

.active input:nth-child(2){
  grid-area: mail;
}

.active textarea{
  width: 100%;
  grid-area: text;
}

.active input:nth-child(3){
  grid-area: boton;
}

.active2{
  
  display: flex;
  position: relative;
  justify-content: center;
  max-height: 100px;
  max-width: 175%;

}

.text{
  display: flex;
  box-sizing: border-box;
  text-align: justify;
  width: 100%;
  color: #fff;
  flex-wrap: wrap;
}

.dotted:hover{
  cursor: pointer;
}









p{
  color: #fff;
}

h2{
  color: #fff;
  width: 100%;
  font-size: 40px;
}
.type1{
  background-color: #FF6C22;
}

input[type="submit"]{
  width: 100%;
  background-color: #FF6C22;
  color: white;
  padding: 15px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: #FF6C22;
}

input[type="text"],
input[type="email"],
select,
textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 10px;
    box-sizing: border-box;
}

footer{
  background-color: #fff ;
  background-color: #2b34993a; 
  padding-top: 10px;
  padding-bottom: 10px;

}


.foot{
  color: #2B3499;
}

.foot::before{
  content: url(/index/icons8-instagram-48.png);
}

.foot2::before{
  content: url(/index/icons8-whatsapp-48.png);
}

.foot2{
  color: #2B3499;
}

.responsive{
  display: none;
}

i{
  padding: 0 5px;
}



@media (max-width:600px){
  .responsive{
      display: block;
      float: right;
      padding: 12px;
  }
  a{
      display: none;
  }
}

.name{
  height: 20px;
}

footer{
  width: 100%;
}