body{
    background-color: #FFD099;
  }
  nav{
    background-color: #2B3499;
    padding: 10px;
    height: 60px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
  
  }
  
  
  a{
    border-radius: 4px;
    font-size: 30px;
    font-weight: 600;
    transition: 2s;
    padding: 8px 16px
    
  }
  
  
  .active1{
    color: #FF6C22;
  }
  a:hover{
    text-shadow: -2px -2px 4px #fff;
    cursor: pointer;
  
  }
.p1{
  margin-left: 70%;
  margin-top: 5%;
}  

.heladera{
  height: 40%;
  width: 40%;
}

footer{
  background-color: #fff ;
  background-color: #2b34993a; 
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

}

.foot{
  color: #2B3499;
}

.foot::before{
  content: url(/index/icons8-instagram-48.png);
}

.foot2::before{
  content: url(/index/icons8-whatsapp-48.png);
}

.foot2{
  color: #2B3499;
}
 /* ---------------------------- contenido imagen  ---------------------------- */
/* body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita que la barra de desplazamiento aparezca si la imagen es más grande que la ventana del navegador 
}

.contenedor-imagen {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.imagen-deslizante {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; 
  transition: opacity 1s, transform 1s; /* Transiciones para suavizar la aparición y el desplazamiento 
}

.contenedor-imagen:hover .imagen-deslizante {
  opacity: 1; /* Al pasar el ratón sobre el contenedor, la imagen se vuelve visible 
  transform: translate(-50%, -50%) translateY(-20px); /* Puedes ajustar la cantidad de desplazamiento vertical 
} */

 /* ---------------------------- contenido imagen  ---------------------------- */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.contenedor-imagen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-deslizante {
  opacity: 0;
  transition: opacity 1s; /* Ajusta la duración de la animación según sea necesario */
}

.aparecer {
  opacity: 1;
}
